html {
	scroll-behavior: smooth;
}

h1 {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
}

.mainheader {
	text-shadow: 2px 2px 2px black;
	padding-top: 5em;
	color: #fff;
}

.quickrecipeheader {
	color: black;
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 2px black;
	padding-bottom: 1em;
}

.homepage {
	background-size: cover;
	padding: 2.5em;
}

.recipepage {
	background-color: #f6f6f6;
	padding: 2em;
}

.row{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #333333;
	overflow: hidden;
	top: 0;
	width: 100%;
}

.nav-item {
	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 10px 15px;
  	text-decoration: none;
  	font-size: 17px;
}

.nav-item.active {
  background-color: #4CAF50;
  color: white;
}

.nav-item:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.btn1 {
	background: none;
	color: #fff;
	font-size: 18px;
	border-color: #fff;
	border-radius: 5px;
	padding: 6px 20px 6px 20px;
	transition: all 1s;
	margin-bottom: 18em;
}

.btn1:hover {
	transform: scale(1.3);
}

.column {
	display: flex;
	justify-content: center;
	padding: 0.3em;
	transition: all 1s;
}

h3{
	text-shadow: 1px 1px 1px black;
}

p {
	text-shadow: 1px 1px 1px black;
}

.quickbuypage {
	padding: 2em;
}

.column:hover {
	transform: scale(1.2);
}

.contactpage {
	background-image: url("https://images.unsplash.com/photo-1517646458010-ea6bd9f4a75f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-attachment: fixed;
	background-position: top;
	padding: 2em;
}
